#app {
  display: grid;
  grid-template-columns: 41.666667% 58.333333%;

  height: 100vh;
  overflow: hidden;
}

main {
  width: 51.25rem;
  overflow: auto;
  padding: 5rem 8.125rem;
  background-color: var(--shape-body);
  border-radius: 0.75rem;

  & .main-container {
    max-width: 35rem;
    
  }
}

.title-master {
    padding-top: 5rem;
    font: var(--heading-md);
    color: var(--text-heading);
    padding-bottom: 2.5rem;
  }

fieldset {
  border: none;
}

legend {
  font: var(--heading-sm);
  color: var(--text-heading);
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding-bottom: 1.5rem;
}

aside {
  
  
  & img {
    width: 25rem;
    height: 45.5rem;
    
  }
  

  & .aside-container {
    max-width: 25rem;
    margin-left: auto;
    
  }
}

.form-field {
  display: flex;
  flex-direction: column;

  & input, textarea {
    background-color: var(--input-base);
  }

  &:has(input:hover,:focus) input {
    outline: 1px solid var(--brand-light);
    
  }

  &:has(input:valid) input {
    color: var(--text-heading);
    
  }

  &:has(textarea:valid) textarea {
    color: var(--text-heading);
    
  }

  & input {
    width: 17rem;
    padding: 0.8125rem 1rem;
    border: 1px solid var(--input-stroke);
    outline: 1px solid var(--input-placeholder);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    font: var(--body-md-r);
    color: var(--input-placeholder);
    height: 3rem;
  }

  & textarea {
    border-radius: 0.5rem;
    overflow: none;
    padding: 1rem;
    margin-bottom: 3rem;
    font: var(--body-md-r);
    color: var(--input-placeholder);
    outline: 1px solid var(--input-placeholder);
   
  }

  &:has(textarea:hover,textarea:focus) textarea {
    outline: 1px solid var(--brand-light);
  }

  #name-title {
    width:unset;
  }
}





.label {
  font: var(--body-sm-r);
  color: var(--text-body);
  padding-bottom: 0.75rem;
  
}

#start-end {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

#type-address {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.wrapper-button-type {

  width: 17rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  outline: 1px solid var(--input-placeholder);
  position: relative;

  &:has(input[type="checkbox"]:checked) .wrapper-button-type-presential{
     
  width: 8.125rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  background-color: var(--input-base);
  position: absolute;
 
  right:0.25rem;
  top:0.25rem;
  bottom:0.25rem;
  
  display: flex;
  align-items: center;
  padding-inline: 1.125rem;
  padding-block: 0.65625rem;
  justify-content: center;
  gap: 0.5rem;

  & span {
    font: var(--body-sm-r);
    color: var(--text-body);
  }

  & .wrapper-button-type-presential-IMG {
    background-image: url(../assets/icons/presential-off.svg);
    width: 1rem;
    height: 1rem;
  }
  
    
  }

  &:has(input[type="checkbox"]:checked) .wrapper-button-type-online{
     
    width: 8.125rem;
    height: 2.5rem;
    border-radius: 0.25rem;
    background-color: var(--input-base);
    position: absolute;
    
    right:0.25rem;
    top:0.25rem;
    bottom:0.25rem;
    background-color: var(--shape-button);
    display: flex;
    padding-inline: 1.125rem;
    padding-block: 0.65625rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    & .wrapper-button-type-online-IMG {
      background-image: url(../assets/icons/online-on.svg);
      width: 1rem;
      height: 1rem;
    }

    & span{
      font: var(--body-sm-s);
      color: var(--text-heading);
    }
  
    
  }
  
  

  & #type-check {
    all:unset;
    position: absolute;
    inset: 0;
    background-color: aqua;
    cursor: pointer;
    opacity:0;
  }

  &:hover{
   outline: 1px solid var(--brand-light); 
  }
}

.wrapper-button-type-presential {
  width: 8.125rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  background-color: var(--input-base);
  position: absolute;
  
  left:0.25rem;
  top:0.25rem;
  bottom:0.25rem;
  background-color: var(--shape-button);
  display: flex;
  padding-inline: 1.125rem;
  padding-block: 0.65625rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  & .wrapper-button-type-presential-IMG {
    background-image: url(../assets/icons/presential-on.svg);
    width: 1rem;
    height: 1rem;
  }

  & span{
    font: var(--body-sm-s);
    color: var(--text-heading);
  }

  


}

.wrapper-button-type-online {
  width: 8.125rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  background-color: var(--input-base);
  position: absolute;
 
  right:0.25rem;
  top:0.25rem;
  bottom:0.25rem;
  
  display: flex;
  align-items: center;
  padding-inline: 1.125rem;
  padding-block: 0.65625rem;
  justify-content: center;
  gap: 0.5rem;

  & span {
    font: var(--body-sm-r);
    color: var(--text-body);
  }

  & .wrapper-button-type-online-IMG {
    background-image: url(../assets/icons/online-off.svg);
    width: 1rem;
    height: 1rem;
  }
}




