#app {
  display: grid;
  grid-template-columns: 41.666667% 58.333333%;

  height: 100vh;
  overflow: hidden;
}

main {
  width: 51.25rem;
  overflow: auto;
  padding: 5rem 8.125rem;
  background-color: var(--shape-body);
  border-radius: 0.75rem;

  & .main-container {
    max-width: 35rem;
    
  }
}

.title-master {
    padding-top: 5rem;
    font: var(--heading-md);
    color: var(--text-heading);
    padding-bottom: 2.5rem;
  }

fieldset {
  border: none;
}

legend {
  font: var(--heading-sm);
  color: var(--text-heading);
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding-bottom: 1.5rem;
}

aside {
  
  
  & img {
    width: 25rem;
    height: 45.5rem;
    
  }
  

  & .aside-container {
    max-width: 25rem;
    margin-left: auto;
    
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  & input, textarea {
    background-color: var(--input-base);
  }

  & input {
    padding: 0.8125rem 1rem;
    border: 1px solid var(--input-stroke);
    outline: 1px solid var(--input-placeholder);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }

  & textarea {
    border-radius: 0.5rem;
    overflow: none;
    padding: 1rem;
    margin-bottom: 3rem;
  }
}



.label {
  font: var(--body-sm-r);
  color: var(--text-body);
  padding-bottom: 0.75rem;
  
}

#start-end {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

#type-address {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

