.generate-button {
  display:flex;

}

.generate-button-inner {
  width: 11.0625rem;
  height: 3rem;
  background-color: var(--brand-dark);
  border-radius: 0.5rem;

  padding-inline: 1.25rem;
  padding-block: 0.8125rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-left: auto;
  position: relative;

  &:has(input[type="submit"]:hover){
    background-color: var(--brand-mid);
  }

  & .generate-submit-input {
    all:unset;
    opacity:0;
    position: absolute;
    inset:0;
    cursor: pointer;
  }

}


.generate-button-inner-img {
  background-image: url(/assets/icons/ticket.svg);
  width: 1.25rem;
  height: 1.25rem;
}

.generate-button-inner-text {
  font: var(--body-md-s);
  color: var(--text-heading);
}